.host-rental-cost {
    width: fit-content;
    background-color: coral;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    margin: auto;
    
}

.bi-telephone-outbound-fill:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #f1a054;
}


.host-rental-date {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
}
.rental-date-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.rental-card-title {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.host-rental-card {
    width: 300px;
    text-overflow: ellipsis;
}
.room-name {
    overflow: hidden;
    text-overflow: ellipsis;
}