.myButton {
    text-align: center;
    display: flex;
    background-color: rgb(187, 92, 14);
    position: absolute;
    padding: 1px 6px 0px 6px;
    border-radius: 50rem;
    font-size: 20px;
}
.myButton span {
    margin: auto;
    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.myButton:hover {   
    cursor: pointer;
}


.myButton span {
    width: 100%;
}
