.myButton {
    text-align: center;
    display: flex;
    background-color: rgb(187, 92, 14);
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50rem;
}
.myButton span {
    margin: auto;
    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.myButton:hover {   
    cursor: pointer;
}


.myButton span {
    width: 100%;
}
