.setting-li {
    font-size: 17px;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;

}
.setting-li:hover {
    cursor: pointer;
    background-color: rgb(202, 201, 201);
}
.setting-text{
    display: flex;
    align-items: center;   
}
.setting-mode {
    box-shadow: 2px 0px 5px rgb(202, 201, 201);
    height: 100vh;
}
.isActive {
    background-color: rgb(202, 201, 201);
}
.setting-text .bi {
    color: black;
}

.setting-content-container {
    border: 1px solid rgb(202, 201, 201) ;
    border-radius: 7px;
}