.host-rental-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding-bottom: 10px;
    min-height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.rental-view-choose {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


.rental-type-btn-choosen {
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
    background-color: #f7f7f7;
    color: #222222;
    border-color: #222222;
    font-weight: bolder;
  }
  
.rental-type-btn {
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-color: #b0b0b0;
    border-radius: 30px;
    color: #222222;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
}

.no-rental-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

.bi-journal {
  font-size: 32px;
  color: coral;
}
  