@media only screen and (min-width: 768px) {
    .billing {
        position: -webkit-sticky;
        position: sticky;
        top: 79px;
        float: right;
        width: 30vw;
    }
}

.carousel-room .carousel-item {
    height: 50vh;
}

.carousel-room .carousel-item img {
    width: 100%;
    object-fit: contain;
}

.facility {
    width: 40vw;
}

.rule {
    width: 40vw;
}

.room-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.voting-num {
    font-size: 0.8rem;
}

.billing {
    background-color: white;
}