@media only screen and (min-width: 768px) {
    .billing {
        float: right;
        width: 30vw;
    }
}

.carousel-room .carousel-item {
    height: 75vh;
}

.facility {
    width: 40vw;
}

.rule {
    width: 40vw;
}
