#nav-bar {
    z-index: 100;
    padding: 0
}

#search-bar {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.white-icon {
    color: white;
}

.black-icon {
    color: black;
}

.small-icon {
    font-size: 1em;
}

.my-nav-link {
    border-radius: 20px;
}

.my-nav-link:hover {
    background-color:#858c89;
}

.dropdown-toggle::after {
    display: none !important
}

.notification-menu {
    max-height: 300px;
    width: 500px;
    overflow-y: scroll;
}