#nav-bar {
    z-index: 100;
    padding: 0;
    min-height: 79px;
}

#search-bar {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.white-icon {
    color: white;
}

.black-icon {
    color: black;
}

.small-icon {
    font-size: 1em;
}

.my-nav-link {
    border-radius: 20px;
}

.my-nav-link:hover {
    background-color:#858c89;
}

.dropdown-toggle::after {
    display: none !important
}


.notification-menu {
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
    border-radius: 1rem !important;
}

#slogan {
    height: 47px;
    font-size: 20px;
}

#slogan .slogan-text {
    font-size: 20px;
    font-weight: 600;
}
#slogan .bi-hand-thumbs-up {
    font-size: 30px;
}
#slogan .slogan-icon {
    font-size: 25px;
}

#noti-badge {
    font-size: 0.6rem!important;
}

.noti-item {
    white-space:normal;
}