#select-guest {
    background-color: white;
    position: absolute;
    width: fit-content;
    right: 0px;
    padding: 10px;
    z-index: 10;
}

#search-place {
    background-color: white;
    position: absolute;
    width: fit-content;
    left: 0px;
    padding: 10px;
    z-index: 10;
}

.form-background {
    background-color: lightgrey;
}

.input-w100 {
    width: 100%;
}

.modal-80w {
    width: 80vw !important;
    max-width: 80vw !important;
}

.fixed-height {
    height: 70px;
}

#search-bar {
    border-radius: 20px;
}