#search-form {
}
#select-guest {
    background-color: white;
    position: absolute;
    width: fit-content;
    right: 0px;
    padding: 10px;
    z-index: 10;
}

#search-place {
    background-color: white;
    position: absolute;
    width: fit-content;
    min-width: 250px;
    left: 35px;
    padding: 10px;
    z-index: 500;
}

.form-background {
    background-color: lightgrey;
}

.input-w100 {
    width: 100%;
}



.fixed-height {
    height: 70px;
}

.search-input {
    border-style: hidden;
    outline: none;
    background-color: rgb(248, 249, 250);
}
.search-input:focus {
    outline: none;
}

.bi-search {
    
}

.home-search-bar-container {
    position: relative;
    z-index: 50;
}

.home-search-bar-icon {
    color: white;
    font-weight: 500;
}

.modal-search {
    margin-top: 7.8rem!important;
}


@media only screen and (min-width: 768px) {
    .modal-search {
        width: 70vw !important;
        max-width: 85vw !important;
    }
    
    .modal-search .modal-content {
        border-radius: 50rem !important;
    }
    .rounded-pill-responsive {
        border-radius: 50rem !important;
    }
    .gray-border-right {
        border-right: 1px solid #aeaeae;
    }
}

@media only screen and (max-width: 767px) {
    .modal-search {
        width: 90vw !important;
        max-width: 90vw !important;
    }
    
    .modal-search .modal-content {
        border-radius: 1rem !important;
    }

    .rounded-pill-responsive {
        border-radius: 1rem !important;
    }
}


.search-btn-label {
    height: 80%;
}

