.popup-room-card {
  width: 100%;
  height: 180px;
}

.tooltip-inner {
  text-align: start !important;
}

.popup-room-card > strong:hover {
  cursor: pointer
}

.popup-room-card .carousel {
  height: 60%;
}