@media only screen and (min-width: 768px) {
  .row-body {
    height: 150px
  }
  .row-body > div {
    height: 100%
  }
  .carousel {
    height: 100%
  }
  .carousel > .carousel-inner {
    height: 100%
  }
}

@media only screen and (max-width: 768px) {
  .row-body {
    height: 600px
  }
  .row-body > div {
    height: 80%
  }
  .carousel {
    height: 100%
  }
  .carousel > .carousel-inner {
    height: 100%
  }
}


.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  }


.carouse-inner{
  max-height: 80px;
}

.my-card .room-title {
  cursor: pointer
}


/* Change */
.my-card {
  width: 100%;
  position: relative;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  display: block;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.room-title {
  text-overflow: ellipsis;
}

.bi-dot {
  color: black;
  font-size: 11px;
}
.my-card-body {
  position: relative;
}
.my-card-footer {
  position: absolute;
  bottom: 0px;
  width: 90%;
  z-index: 1;
}

.bi-heart {
  color: black;
}
.bi-heart-fill {
  color: rgb(240, 26, 26);
}

.room-edit-option {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 10;
}

