body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My Css */
.card {
  border: 2px solid rgba(0,0,0,.125)
}

.checked {
  background-color: rgba(74, 240, 102, 0.808);
}


.myCard:hover {
  background-color: rgba(129, 199, 231, 0.541);
  cursor: pointer;
}

.dis-flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.dis-flex span {
  margin: 5px 5px;
  border-radius: 50%;
  justify-content: center;
}
i {
  font-size: 25px;
  margin: 5px 5px;
  color: rgb(236, 78, 20);
}

i:hover {
  cursor: pointer;
}

.number-input input {
  border-radius: 30px;
  text-align: center;
}

input {
  border-radius: 30px;
  align-self: center;
  height: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

/* Room manager */

/*Card*/
.card-carousel {
  height: 100%;
}

.my-badge {
  margin-right: 5px;
}

.col-md-4 {
  margin: auto;
}

.add-room-signup {
  max-width: fit-content;
  margin-left: 12px;
}


a {
  text-decoration: none;
}
