
.upload-image-label {
    background-color: rgb(20, 179, 123);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
}
.upload-image-label:active {
    background-color: rgb(9, 133, 89);
}
.image-field {
    align-content: center;
    justify-content: center;
}

.image-card .room-image{
    width: 100%;
}

.modal-content {
    border-radius: 1.5rem !important;
}
